body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Single Spell Page */

.single-spell-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.form-name-level-container {
  display: flex;
  flex-direction: row;
}

.form-str-dex-con-container {
  display: flex;
  flex-direction: row;
}

.form-int-wis-cha-container {
  display: flex;
  flex-direction: row;
}

.form-inner-container {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
